{% extends 'layout/layout.twig' %}

{% block content %}

<div class="jumbotron">
  <h2>
    {{ translate('Thank you! Your registration has been confirmed.') | raw}}
  </h2>
</div>

{% endblock content %}
