{% extends 'layout/layout1.twig' %}

{% block content %}
<section class="main promo-page">
	<div class="container">
		<div class="row">
			<h2>
				{{ translate('An email has been sent to <span class="zf-green">'~email~'</span>. Please, check your inbox and confirm your registration!') }}
			</h2>
		</div>
	</div>
</section>
{% endblock content %}
