@font-face {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg"); }
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  margin: .67em 0;
  font-size: 2em; }

mark {
  color: #000;
  background: #ff0; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input {
  line-height: normal; }

input[type='checkbox'],
input[type='radio'] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto; }

input[type='search'] {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid #c0c0c0; }

legend {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0; }

@media print {
  * {
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: ''; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  select {
    background: #fff !important; } }
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  color: #333333;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857; }

a {
  text-decoration: none;
  color: #349BD5; }
  a:hover, a:focus {
    text-decoration: underline;
    color: #20709c; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

img {
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 10px;
  color: #333;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.4; }

h1, .h1 {
  font-size: 28px; }

h2, .h2 {
  font-size: 23px; }

h3, .h3 {
  font-size: 18px; }

h4, .h4 {
  font-size: 17px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

ul, ol {
  margin-top: 0;
  margin-bottom: 10px; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }

.in {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }
  .in:before, .in:after {
    content: " ";
    display: table; }
  .in:after {
    clear: both; }
  @media (min-width: 1280px) {
    .in {
      width: 1280px; } }

.row {
  margin-right: -15px;
  margin-left: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.col_0 {
  width: 0%; }

.col_1 {
  width: 8.33333%; }

.col_2 {
  width: 16.66667%; }

.col_3 {
  width: 25%; }

.col_4 {
  width: 33.33333%; }

.col_5 {
  width: 41.66667%; }

.col_6 {
  width: 50%; }

.col_7 {
  width: 58.33333%; }

.col_8 {
  width: 66.66667%; }

.col_9 {
  width: 75%; }

.col_10 {
  width: 83.33333%; }

.col_11 {
  width: 91.66667%; }

.col_12 {
  width: 100%; }

.icon {
  position: relative;
  text-decoration: none;
  text-transform: none;
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon_done:before {
  content: '\e601'; }

.icon_notifications:before {
  content: '\e609'; }

.icon_user:before {
  content: '\e600'; }

.icon_power:before {
  content: '\e602'; }

.icon_phone:before {
  content: '\e603'; }

.icon_skype:before {
  content: '\e604'; }

.icon_mail:before {
  content: '\e605'; }

.icon_social-tw:before {
  content: '\e606'; }

.icon_social-in:before {
  content: '\e607'; }

.icon_social-fb:before {
  content: '\e608'; }

.btn,
.icon-btn {
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 0;
  background-image: none;
  font-weight: bold; }
  .btn:focus, .btn:active:focus, .btn.active:focus,
  .icon-btn:focus,
  .icon-btn:active:focus,
  .icon-btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus,
  .icon-btn:hover,
  .icon-btn:focus {
    text-decoration: none;
    color: #fff; }
  .btn:active, .btn.active,
  .icon-btn:active,
  .icon-btn.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn,
  .icon-btn.disabled,
  .icon-btn[disabled], fieldset[disabled]
  .icon-btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    box-shadow: none; }

.btn {
  padding: 10px 15px;
  color: #fff;
  background: #aeaeae;
  font-size: 14px;
  line-height: 20px; }
  .btn:hover {
    background: #c8c8c8; }
  .btn_green {
    background: #5cb85c; }
    .btn_green:hover {
      background: #80c780; }
  .btn_red {
    color: #f00;
    background: #fcc; }
  .btn_right {
    float: right;
    margin-left: 30px; }

.icon-btn {
  width: 34px;
  height: 34px;
  line-height: 34px; }

.main {
  padding: 0; }

.block-header {
  margin: 10px 0 25px; }
  .block-header:before, .block-header:after {
    content: " ";
    display: table; }
  .block-header:after {
    clear: both; }
  .block-header .h1, .block-header .h2, .block-header .h3 {
    float: left;
    margin: 0; }

.indicator {
  float: left;
  margin: 10px 0 0 30px;
  padding: 0;
  list-style: none;
  color: #6b6b6b;
  font-size: 14px; }
  .indicator__item {
    float: left;
    margin-right: 10px;
    font-weight: bold; }
  .indicator__num {
    font-weight: normal; }

.user-role {
  display: inline-block;
  padding: 6px 12px;
  white-space: nowrap;
  color: #6b6b6b;
  background: #f2f2f2;
  font-size: 12px;
  font-weight: bold; }

.header {
  min-height: 50px;
  background: #349BD5; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }

.logo {
  float: left;
  min-width: 25%;
  color: #fff;
  line-height: 50px; }
  .logo a {
    text-decoration: none;
    color: #fff; }
    .logo a:hover {
      color: #ff0; }

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }
  .nav:before, .nav:after {
    content: " ";
    display: table; }
  .nav:after {
    clear: both; }
  .nav_right {
    float: right; }
  .nav__link {
    position: relative;
    display: block;
    height: 50px;
    padding: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    line-height: 50px; }
    .nav__link:hover, .nav__link:focus {
      text-decoration: none;
      color: #ff0;
      background-color: transparent; }
    .nav__link_active, .nav__link_active:hover, .nav__link_active:focus {
      color: #ff0;
      background-color: #666666; }
  .nav_left {
    float: left; }
  .nav__item {
    position: relative;
    float: left; }

.sidebar {
  background: #f6f6f6; }

.control-nav {
  margin-bottom: 30px; }
  .control-nav a {
    display: block;
    height: 50px;
    padding: 0 30px;
    color: #333;
    border-bottom: 2px solid #fff;
    background: #e1e6f0;
    font-size: 15px;
    line-height: 50px; }
    .control-nav a:hover {
      text-decoration: none;
      background: #e9edf7; }

.project-nav__title {
  display: block;
  padding: 0 20px 10px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: bold; }
.project-nav__list {
  padding: 2px 0;
  list-style: none; }
.project-nav__item {
  overflow: hidden;
  padding: 5px 20px 5px 35px;
  text-overflow: ellipsis; }
  .project-nav__item a {
    color: #6b6b6b; }
  .project-nav__item_active {
    background: #349bd5; }
    .project-nav__item_active a {
      color: #ff0; }
      .project-nav__item_active a:hover {
        text-decoration: none; }

.tab__nav {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ddd; }
  .tab__nav:before, .tab__nav:after {
    content: " ";
    display: table; }
  .tab__nav:after {
    clear: both; }
  .tab__nav li {
    float: left;
    height: 50px;
    margin: 0 20px -1px;
    text-transform: uppercase;
    line-height: 50px; }
    .tab__nav li a {
      display: block;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 2px;
      text-decoration: none;
      color: #aeaeae;
      border: 3px solid transparent;
      border-width: 3px 0;
      font-weight: bold;
      line-height: 44px; }
      .tab__nav li a:hover {
        color: #349BD5;
        border-bottom-color: #349BD5; }
  .tab__nav .active a {
    color: #349BD5;
    border-bottom: 3px solid #349BD5; }
.tab__content {
  padding: 20px; }

.tag {
  list-style: none; }
  .tag__item {
    display: inline-block;
    margin: 0 1px 6px 0;
    padding: 6px 12px;
    cursor: default;
    white-space: nowrap;
    color: #6b6b6b;
    background: #f2f2f2;
    font-size: 12px;
    font-weight: bold; }

a.tag__item {
  cursor: pointer; }
  a.tag__item:hover, a.tag__item:active, a.tag__item:focus {
    text-decoration: none;
    color: #6b6b6b;
    background: #e5e5e5; }

.task-list {
  width: 100%;
  border-spacing: 0 1px;
  border-collapse: initial;
  border-right: 1px solid #d8d8d8;
  background: #d8d8d8; }

.task {
  color: #363636;
  background: #fefefe; }
  .task .task__assignee, .task .task__date {
    padding: 6px 10px; }
  .task__name {
    padding: 6px 10px 6px 20px;
    border-left: 5px solid #009dd9; }
  .task__user {
    color: #000;
    font-size: 13px; }
  .task__date {
    color: #a1a1a1; }
  .task__manage {
    padding: 6px 6px 6px 10px;
    text-align: right; }
    .task__manage .icon-btn {
      margin-left: 3px; }
  .task_made {
    color: #868686;
    background: #f8f8f8; }
    .task_made .task__name {
      border-left-color: #aeaeae; }
  .task_in-progress {
    background: #f3f9f3; }
    .task_in-progress .task__name {
      border-left-color: #393; }
  .task_hot .task__name {
    font-weight: bold; }
  .task_hot .task__name-hold:before {
    margin-right: 5px;
    content: '!';
    color: #ff4c4c; }

.project {
  margin-bottom: 70px; }
  .project__header:before, .project__header:after {
    content: " ";
    display: table; }
  .project__header:after {
    clear: both; }
  .project__header .btn {
    margin-top: -10px; }
  .project__meta {
    line-height: 1.95em; }
    .project__meta:before, .project__meta:after {
      content: " ";
      display: table; }
    .project__meta:after {
      clear: both; }
    .project__meta .metadata {
      float: left; }
  .project__content:before, .project__content:after {
    content: " ";
    display: table; }
  .project__content:after {
    clear: both; }
  .project__img {
    float: left;
    width: 150px;
    height: 150px;
    margin: 0 30px 30px 0; }
    .project__img img {
      max-width: 100%;
      max-height: 100%; }
  .project__desc {
    margin-bottom: 30px; }
  .project__desc-wrap:before, .project__desc-wrap:after {
    content: " ";
    display: table; }
  .project__desc-wrap:after {
    clear: both; }
  .project__date, .project__creator {
    float: right;
    margin-left: 15px;
    color: #6b6b6b; }
  .project__creator {
    font-weight: bold; }
    .project__creator-img {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 5px;
      vertical-align: middle; }
      .project__creator-img img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: top; }
  .project__mark {
    display: inline-block;
    padding: 3px 5px;
    vertical-align: text-bottom;
    color: #fff;
    font-size: 11px; }
    .project__mark_hot {
      background: #FF0000; }
  .project_full {
    padding: 25px 0 0; }
    .project_full .metadata {
      font-size: 18px; }
    .project_full .project {
      width: 100%; }
  .project_short .project__date, .project_short .project__creator {
    font-size: 13px; }

.metadata {
  margin-bottom: 20px;
  padding: 0;
  line-height: 1.95em; }
  .metadata__item {
    display: inline-block;
    list-style: none; }
    .metadata__item:after {
      margin: 0 4px 0 7px;
      content: '|'; }
    .metadata__item:last-child:after {
      display: none; }

.contacts {
  padding: 0; }
  .contacts:before, .contacts:after {
    content: " ";
    display: table; }
  .contacts:after {
    clear: both; }
  .contacts__item {
    position: relative;
    display: inline-block;
    width: 25%;
    min-width: 200px;
    margin: 10px -.3em 10px 0;
    padding: 0 30px 0 20px;
    list-style: none;
    vertical-align: top; }
  .contacts__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    text-align: center;
    color: #696969;
    font-size: 18px; }
  .contacts__info {
    display: block; }
  .contacts_social {
    padding-left: 0; }
    .contacts_social .icon {
      top: -10px;
      margin-right: 10px;
      color: #696969; }
      .contacts_social .icon:hover {
        text-decoration: none;
        color: #000; }

.social-links {
  font-size: 35px; }

.user-profile {
  padding: 35px 0 0; }
  .user-profile__header {
    margin-bottom: 30px; }
    .user-profile__header:before, .user-profile__header:after {
      content: " ";
      display: table; }
    .user-profile__header:after {
      clear: both; }
  .user-profile__btn-edit {
    margin-bottom: 30px; }
  .user-profile__section {
    margin-bottom: 50px; }

.user__photo {
  float: left;
  width: 130px; }
  .user__photo img {
    max-width: 130px;
    vertical-align: top; }
.user__info {
  margin-left: 150px; }
.user__name {
  margin: -.32em 0 .32em; }
.user__specialty {
  margin-bottom: 20px;
  font-size: 18px; }
.user__meta {
  margin-bottom: 10px; }
.user__detail-info {
  margin-bottom: 30px;
  padding: 0;
  list-style: none; }
  .user__detail-info li {
    margin: .5em 0; }

.user-list {
  margin: 0;
  padding: 0;
  list-style: none; }

/*# sourceMappingURL=screen.css.map */