.user-item {
	@include clearfix();
	height:130px;
	margin-bottom: 40px;
	overflow: hidden;
	position:relative;
	transition: all 0.2s ease-out 0s;
	background: #FFF;

	.fi-up-open {
		display: none;
	}
}

.user-item .user-photo{
	margin: 0;
}

.user-item-name{
	font-size: 22px;
	font-weight: 400;
	line-height: 1;
	margin-top: -3px;

	a {
		color: #404040;

		&:hover {
			text-decoration: none;
		}
	}
}

.user-item-prof{
	font-size: 18px;
	letter-spacing: 0.04em;
	display: block;
	margin: 6px 0 9px;
	line-height: 1.18;
	text-transform: lowercase;
	font-weight: 100;
	color: #666;
}

.see-more-btn{
	cursor: pointer;
	color: #fff;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 150px;
	display: none;
	background-color: lighten(black, 77);
	padding: 0 5px;
	text-align: center;
	height: 13px;
	transition: background-color 0.2s ease-out 0s;
	line-height: 13px;

	&:hover {
		color: #fff;
		background-color: lighten(black, 87);
	}

	i {
		font-size: 15px;
		vertical-align: top;
		margin-top: -3px;
	}

}

.user-item-full {
	.fi-up-open {
		display: block;
	}
	.fi-down-open {
		display: none;
	}
}


.full-user-item{
	overflow: visible;
}

.user-item-content{
	margin-left:150px;
}

.user-item-text {
	margin: 15px 0;
}