// Grid system
//
// Generate semantic grid columns with these mixins.

// Centered container element
// @mixin container-fixed($gutter: $grid-gutter-width) {
//   margin-right: auto;
//   margin-left: auto;
//   padding-left:  ($gutter / 2);
//   padding-right: ($gutter / 2);
//   @include clearfix();
// }

// // Creates a wrapper for a series of columns
// @mixin make-row($gutter: $grid-gutter-width) {
//   margin-left:  ($gutter / -2);
//   margin-right: ($gutter / -2);
//   @include clearfix();
// }

@mixin make-grid-columns($i: 1, $list: ".col_#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col_#{$i}";
  }
  #{$list} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left:  ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
    float: left;
  }
}

@mixin make-grid() {
  @for $i from 0 through $grid-columns {
    .col_#{$i} {
      width: percentage(($i / $grid-columns));
    }
  }
}

