html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
}

.main {
  padding: ($navbar-height + 45px) 0 ($navbar-height + 20px);
  .container {
    width: 940px;
  }
}

.footer {
  position: relative;
  height: $navbar-height;
  margin-top: -($navbar-height);
  .navbar {
    margin: 0;
  }
}

//  Common  //
.headings-top-0 {
  margin-top: 0;
}

.form-control {
  box-shadow: none;
}

.form-group {
  margin-bottom: 17px;
}

.radio,
.checkbox {
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
  input {
    display: none;
    &:checked + label {
      &:before {
        box-shadow: 0 0 0 3px #fff inset;
        background: $add-color;
      }
    }
  }
  input + label {
    &:before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      height: 15px;
      width: 15px;
      background: #fff;
      user-select: none;
    }
  }
}

.radio input + label:before {
  border-radius: 50%;
}

.btn {
  transition: background 0.2s ease-out 0s;
  text-transform: uppercase;
  text-decoration: none !important;
}

.icon-square,
.icon-circle {
  text-align: center;
  font-size: 19px;
  transition: background 0.2s ease-out 0s;
}

.icon-square {
  height: 32px;
  width: 32px;
  line-height: 32px;
}

.icon-circle {
  height: 32px;
  width: 32px;
  line-height: 28px;
  font-size: 19px;
  border-radius: 50%;
  border: 2px solid transparent;
}

.icon-main-color {
  color: #fff;
  background: $main-color;
  &:hover {
    background: $main-color-light;
  }
}

.icon-main-color-in {
  color: $main-color;
  background: #fff;
  border-color: $main-color;
  &:hover {
    background: $main-color;
    color: #fff;
  }
}
.icon-disabled-in,
.icon-disabled-in:hover {
  background: #FFF;
  color: lighten(#000, 90%);
  border-color: lighten(#000, 90%);
  cursor: default;
}

.icon-add-color {
  color: $add-color-text;
  background: $add-color;
  &:hover {
    background: $add-color-light;
  }
}

.icon-gray {
  color: lighten(#000, 97%);
  background: lighten(#000, 77%);
  &:hover {
    background: lighten(#000, 82%);
  }
}

.icon-square.fa-facebook:before,
.icon-square.fa-twitter:before,
.icon-circle.fa-facebook:before,
.icon-circle.fa-twitter:before {
  position: relative;
  top: 1px;
}

.icon-square.fi-mail,
.icon-circle.fi-mail {
  font-size: 16px;
}

.form-group-last {
  margin-bottom: 0;
}

.badge-notif {
  position: absolute;
  font-weight: normal;
  font-size: 10px;
  padding: 3px 5px;
  top: 5px;
  right: 4px;
  box-shadow: -1px 1px 5px rgba(0,0,0,.3);
}


// Blue block //
.block-main-color {
  background: $main-color;
  color: #fff;

  .h3 {
    color: #fff;
  }

  .form-control {
    border-color: transparent;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.btn-inverse {
  color: #fff;
  background: $main-color;
  border:2px solid #fff;
  &:hover{
    color: #fff;
    background: lighten($main-color, 5)
  }
}


//  Navbar //
.navbar-brand {
  padding: 0 15px;
  line-height: $navbar-height;
  i {
    color: $add-color;
    font-size: 31px;
    vertical-align: middle;
    position: relative;
    top: 2px;
  }
}

.navbar {
  border: 0;
  .navbar-nav {
    > li > a {
      transition: all 0.2s ease-out 0s;
    }
  }
}

.navbar-inverse {
  box-shadow: 0px 0px 10px 0 rgba(0,0,0,.4);
  .navbar-nav {
    > li > a {
      padding: 0 15px;
      line-height: $navbar-height;
      height: $navbar-height;
      &:hover,
      &:focus {
        box-shadow: 0 -5px 0 $main-color-light inset;
      }
    }
    > .active > a,
    > .open > a {
      &,
      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }

  .fi-search,
  .fi-bell-alt,
  .fi-user {
    position: relative;
    font-size: 16px;
  }

  .fi-search {
    top: 3px;
    margin-right: -1px;
  }

  .fi-user {
    top: 2px;
  }
}

.footer .navbar-text.navbar-right:last-child {
  margin-right: $navbar-padding-horizontal;
}