//
// Grid system
//

.in {
    @include clearfix();
    width: 100%;
    margin: 0 auto;
    padding: 0 ($grid-gutter-width / 2);

    @media (min-width: $screen-lg-min) {
        width: $screen-lg-min;
    }
}

.row {
    @include clearfix();
    margin-right: ($grid-gutter-width / -2);
    margin-left: ($grid-gutter-width / -2);
}

@include make-grid-columns();

@include make-grid();
