.header {
    min-height: $navbar-height;
    background: #349BD5;
    @include clearfix();
}

.logo {
    float: left;
    color: #FFF;
    line-height: $navbar-height;
    
    > a {
        color: #FFF;
        text-decoration: none;
    }
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    @include clearfix();
    
    &_right {
        float: right;
    }

    &__link {
        color: $navbar-default-link-color;
        text-decoration: none;
        padding: $nav-link-padding;
        position: relative;
        line-height: $navbar-height;
        height: $navbar-height;
        font-weight: bold;
        display: block;
        
        &:hover,
        &:focus {
            text-decoration: none;
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
        }

        &_active{
            &,
            &:hover,
            &:focus {
                color: $navbar-default-link-active-color;
                background-color: $navbar-default-link-active-bg;
            }
        }
    }

    &_left {
        float: left;
    }
    

    &__item {
        float: left;
        position: relative;
    }
}