.header {
    @include clearfix();
    min-height: $navbar-height;
    background: #349bd5;
}

.logo {
    float: left;
    color: #fff;
    line-height: $navbar-height;

    a {
        text-decoration: none;
        color: #fff;
    }
}

.nav {
    @include clearfix();
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    &_right {
        float: right;
    }

    &__link {
        position: relative;
        display: block;
        height: $navbar-height;
        padding: $navbar-link-padding;
        text-decoration: none;
        color: $navbar-link-color;
        font-weight: bold;
        line-height: $navbar-height;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $navbar-link-hover-color;
            background-color: $navbar-link-hover-bg;
        }

        &_active {
            &,
            &:hover,
            &:focus {
                color: $navbar-link-active-color;
                background-color: $navbar-link-active-bg;
            }
        }
    }

    &_left {
        float: left;
    }


    &__item {
        position: relative;
        float: left;
    }
}
