// Home page //
.promo-page {
  padding-top: 140px;

  .col-md-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  h1 {
    font-weight: 100;
  }
}

.panel-authorization {
  margin-bottom: 0;

  .pull-right {
    float: right;
  }

  .text-devider {
    line-height: 44px;
  }

  .form-group-btn {
    @include clearfix();
    text-align: center;

    .btn:first-child {
      float: left;
    }

    .btn:last-child {
      float: right;
    }

    .btn-inverse {
      text-align: left;
    }
  }

  .checkbox {
    margin-right: 2px;
  }
}

.btn-auth {
  width: 40%;
  padding: 5px;

  .icon-main-color-in {
    margin-right: 13px;
  }

  .icon-main-color-in:hover {
    color: $main-color;
    background: #fff;
  }
}

.form-group-reg {
  border-top: 10px solid #fff;
  margin: 0 -21px -21px;
}

.btn-reg {
  width: 100%;
  border-color : transparent;
}