// Home page //
.promo-page {
  padding-top: 140px;

  .col-md-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  h1 {
    font-weight: 100;
  }
}

.panel-login {
  margin-bottom: 0;
  height: 346px;

  .form-group {
    margin-bottom: 22px;
  }

  .pull-right {
    float: right;
  }

  .text-devider {
    line-height: 44px;
  }

  .form-group-btn {
    @include clearfix();
    text-align: center;
    margin-bottom: 0;

    .btn:first-child {
      float: left;
    }

    .btn:last-child {
      float: right;
    }

    .btn-inverse {
      text-align: left;
    }
  }

  .checkbox {
    margin-right: 2px;
  }

  .btn {
    line-height: 32px;
  }
}

.login-tabs {
  border-bottom: 0;
  padding: 20px 21px 5px;
  & > li {
    
    text-transform: uppercase;
    font-weight: 100;
    font-size: 21px;
    margin: 0;
    
    &:nth-child(2n){
      float: right;
    }

    & > a {
      text-decoration: none;
      padding: 0;
      border-color: transparent;
      margin: 0;
      opacity: 0.55;
      line-height: 1.25;

      &:hover,
      &:focus {
        background-color: inherit;
        border-color: transparent;
        border-color: transparent transparent #fff transparent;
      }
    }

    &.active {
      & > a,
      & > a:hover,
      & > a:focus{
        background: inherit;
        border-color: transparent transparent #fff transparent;
        opacity: 1;
      }
    }
  }
}

.login-tabs-content {
  padding: 20px;
}

.login-auth {
  .form-group-btn {
    margin-top: 41px;
  }
}

.btn-auth {
  width: 40%;
  padding: 5px;

  .icon-main-color-in {
    margin-right: 13px;
  }

  .icon-main-color-in:hover {
    color: $main-color;
    background: #fff;
  }
}

.btn-reg {
  width: 100%;
}