.metadata {
	padding: 0;
	margin-bottom: $line-height-computed;

	&__item {
		display: inline-block;
		list-style: none;
		
		&:after {
			content: "|";
			margin: 0 4px 0 7px;
		}

		&:last-child:after {
			display: none;
		}
	}
}

.contacts {
	padding: 0;
	@include clearfix();
}

.contact {
	float: left;
	list-style: none;
	width: 25%;
	padding: 0 30px 0 20px;
	position: relative;

	&__icon {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 18px;
		text-align: center;
		width: 20px;
		color: #696969;
	}

	&__info {
		display: block;
	}
}

.contact_social {
	text-align: right;
	
	.icon {
		color: #696969;
		margin-right: 10px;
		top: -10px;
		
		&:hover {
			color: #000;
		}
	}
}

.social-links {
	font-size: 35px;
}

.user-profile {
	padding: 35px 0 0;
	&__header {
		
	}
}

.user-profile__header {
	@include clearfix();
	margin-bottom: 30px;
}

.user-profile__btn-edit {
	margin-bottom: 30px;
}

.user-profile__section {
	margin-bottom: 50px;
}

.user__photo {
	float: left;
	width: 130px;
	
	img {
		vertical-align: top;
		max-width: 130px;
	}	
}

.user__info {
	margin-left: 150px;
}

.user__name {
	margin-top: 0;
}

.user__specialty {
	margin-bottom: $line-height-computed;
}

.user__meta {
	margin-bottom: $line-height-computed;
}

.user__detail-info {
	list-style: none;
	padding: 0;
	margin-bottom: 30px;
	line-height: 2em;
}