.sidebar {
    background: #f6f6f6;
}

.control-nav {
    margin-bottom: 30px;

    a {
        display: block;
        height: 53px;
        padding: 0 30px;
        color: #333;
        border-bottom: 2px solid #fff;
        background: #e1e6f0;
        font-size: 15px;
        line-height: 53px;

        &:hover {
            text-decoration: none;
            background: #e9edf7;
        }
    }
}

.project-nav {
    &__title {
        display: block;
        padding: 0 20px 10px;
        color: #5e5e5e;
        font-size: 14px;
        font-weight: bold;
    }

    &__list {
        padding: 2px 0;
        list-style: none;
    }

    &__item {
        overflow: hidden;
        padding: 5px 20px 5px 35px;
        text-overflow: ellipsis;

        a {
            color: #6b6b6b;
        }

        &_active {
            background: #349bd5;
            a {
                color: #ff0;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
