$sidebar-bg: #f6f6f6;

$control-nav-height: 50px;
$control-nav-link-bg: #e1e6f0;
$control-nav-link-color: #333;
$control-nav-link-hover-bg: #e9edf7;


.sidebar {
    background: $sidebar-bg;
}

.control-nav {
    margin-bottom: 30px;

    a {
        display: block;
        height: $control-nav-height;
        padding: 0 30px;
        color: $control-nav-link-color;
        border-bottom: 2px solid #fff;
        background: $control-nav-link-bg;
        font-size: 15px;
        line-height: $control-nav-height;

        &:hover {
            text-decoration: none;
            background: $control-nav-link-hover-bg;
        }
    }
}

.project-nav {
    &__title {
        display: block;
        padding: 0 $padding-large-horizontal $padding-large-vertical;
        color: #5e5e5e;
        font-size: 14px;
        font-weight: bold;
    }

    &__list {
        padding: 2px 0;
        list-style: none;
    }

    &__item {
        overflow: hidden;
        padding: 5px 20px 5px 35px;
        text-overflow: ellipsis;

        a {
            color: #6b6b6b;
        }

        &_active {
            background: #349bd5;
            a {
                color: #ff0;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
