.tag {
    list-style: none;

    &__item {
        display: inline-block;
        margin: 0 1px 6px 0;
        padding: $padding-base-vertical $padding-base-horizontal;
        cursor: default;
        white-space: nowrap;
        color: $tag-color;
        background: $tag-bg;
        font-size: $tag-font-size;
        font-weight: $tag-font-weight;
    }
}

a.tag__item {
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $tag-color;
        background: $tag-bg-hover;
    }
}
