//== Varibles

$task-bg: #fefefe;
$task-border: darken($task-bg, 15%);
$task-marker-color: #009dd9;
$task-text-color: #363636;

$task-made-bg: #f8f8f8;
$task-made-marker-color: #aeaeae;
$task-made-text-color: #868686;

$task-my-bg: #f3f9f3;
$task-my-marker-color: #393;

//== Styles

.task-list {
    width: 100%;
    border-spacing: 0 1px;
    border-collapse: initial;
    border-right: 1px solid $task-border;
    background: $task-border;
}

.task {
    color: $task-text-color;
    background: $task-bg;

    %td {
        padding: $padding-base-vertical 10px;
    }

    &__name {
        padding: $padding-base-vertical 10px $padding-base-vertical 20px;
        border-left: 5px solid $task-marker-color;
    }

    &__assignee {
        @extend %td;
    }

    &__user {
        color: #000;
        font-size: 13px;
    }

    &__date {
        @extend %td;
        color: #a1a1a1;
    }

    &__manage {
        padding: $padding-base-vertical $padding-base-vertical
        $padding-base-vertical 10px;
        text-align: right;

        .icon-btn {
            margin-left: 3px;
        }
    }

    &_made {
        color: $task-made-text-color;
        background: $task-made-bg;

        .task__name {
            border-left-color: $task-made-marker-color;
        }
    }

    &_in-progress {
        background: $task-my-bg;

        .task__name {
            border-left-color: $task-my-marker-color;
        }
    }

    &_hot {
        .task__name {
            font-weight: bold;
        }

        .task__name-hold:before {
            margin-right: 5px;
            content: '!';
            color: #ff4c4c;
        }
    }
}
