.task-list {
    width: 100%;
    border-spacing: 0 1px;
    border-collapse: initial;
    border-right: 1px solid $task-border;
    background: $task-border;
}

.task {
    color: $task-color;
    background: $task-bg;

    %td {
        padding: $padding-base-vertical 10px;
    }

    &__name {
        padding: $padding-base-vertical 10px $padding-base-vertical 20px;
        border-left: 5px solid $task-marker;
    }

    &__assignee {
        @extend %td;
    }

    &__user {
        color: #000;
        font-size: 13px;
        font-weight: bold;
    }

    &__date {
        @extend %td;
        color: #a1a1a1;
    }

    &__manage {
        padding: $padding-base-vertical $padding-base-vertical
        $padding-base-vertical 10px;
        text-align: right;

        .icon-btn {
            margin-left: 3px;
        }
    }

    &_made {
        color: $task-made-color;
        background: $task-made-bg;

        .task__name {
            border-left-color: $task-made-marker;
        }
    }

    &_my {
        background: $task-my-bg;

        .task__name {
            border-left-color: $task-my-marker;
        }
    }

    &_hot {
        .task__name {
            font-weight: bold;
        }

        .task__name-hold:before {
            margin-right: 10px;
            content: '!';
            color: #ff4c4c;
        }
    }
}
