<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ translate('Volunteers Marketplace of Ukraine') }}</title>
		<meta name="viewport" content="width=device-width"/>

		{% block meta %}{% endblock meta %}

		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500italic,500,700,700italic,900,900italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" media="screen" href="/css/bootstrap.css" >
		<link rel="stylesheet" media="screen" href="/css/fonts-icons.css" >
		<link rel="stylesheet" media="screen" href="/css/screen.css" >
		<link rel="stylesheet" media="screen" href="/css/datepicker.css" >
		<link href="/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">


		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap-tagsinput.min.js"></script>
		<script src="/js/bootstrap3-typeahead.min.js"></script>
		<script src="/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="/js/mine/script.js"></script>
		<script type="text/javascript" src="/js/mine/profile.js"></script>

	</head>
	<body>
		<div class="wrap">
			<header class="header">
				{{ navigation('navigation').menu().setPartial('application/bits/menu-template.phtml')|raw }}
			</header>
			{% block content %}{{ content|raw }}{% endblock content %}

		</div>
		<footer class="footer">
			<div class="navbar navbar-default">
				<div class="container">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Про біржу</a></li>
						<li><a href="#">Зворотній зв'язок</a></li>
					</ul>
					<div class="navbar-text navbar-right">2014 &copy; створено спільнотою <a href="http://www.it-krayina.org.ua/">IT-Країна</a></div>
				</div>
			</div>
		</footer>

	</body>
</html>