// Profile //
.profile {

}

.profile-header {
  padding: 0 0 40px;
  position: relative;
  min-height: 190px;

  a {
    color: #fff;
  }
  h1 {
    margin: 12px 0 -3px;
    word-wrap: break-word;
    font-weight: 400;

    span {
      display: block;
    }
    small {
      display: block;
      margin-top: 18px;
      line-height: 1.18;
      text-transform: lowercase;
      font-weight: 100;
      color: lighten(#000, 40%);
      letter-spacing: -0.01em;
    }
  }

  .icon-edit {
    position: absolute;
    bottom: 40px;
    right: 0;
  }

  @include clearfix();
}

.profile-photo {
  float: left;
  height: 130px;
  width: 130px;
  background: #fff;
  border: 5px solid $main-color;
  margin-right: 20px;
  overflow: hidden;
  margin-bottom: 30px;

  img {
    max-width: 130px;
  }
}
.profile-photo-available {
  border-color:  $brand-success;
}

.profile-status {
  position: absolute;
  bottom: 40px;
  left: 0;

  .caret {
    position: absolute;
    top: 11px;
    right: 9px;
    font-size: 5px;
  }

  .dropdown-menu {
    padding: 0;
    width: 130px;
    min-width: inherit;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;

    & > li {
      cursor: pointer;
    }
  }
}

.profile-status-btn {
  width: 130px;
  text-align: center;
  border: 0;
  line-height: 20px;
}

div.profile-status-btn {
  text-transform: uppercase;
  color: #fff;
  background: $brand-success;
  padding: $padding-xs-vertical $padding-xs-horizontal;
  font-size: $font-size-small;
}

.profile-header-info {
  width: 340px;
  float: left;
}

.profile-header-contacts {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}

.contacts-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 10px 5px;
}

.profile-header-phone {
  font-size: 16px;
  font-style: italic;
  word-spacing: 0.1em;

  i {
    margin-right: 4px;
    position: relative;
    top: 3px;
  }
}

.profile-tabs {
  position: relative;

  & > li {
    & > a {
      margin: 0;
      color: lighten(#000, 60%);
      padding: 7px 15px;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 15px;
    }

    &:hover > a {
      background: transparent;
      color: $main-color-light;

    }
  }

  &:before {
    content: "";
    position: absolute;
    width: 2000px;
    height: 1px;
    background: $main-color-light;
    right: 99%;
    bottom: -1px;
  }
}

.profile-tabs-content {

  border-top: 0;
  padding: 20px 0;
  position: relative;
}

.profile-info {
  @include clearfix();
  

}
.profile-title {
  color: lighten(#000, 25%);
  font-weight: 500;
}
h3.profile-title{
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 7px;
}
.profile-title-left {
  float: left;
  min-width: 29.3333333%;
  min-width: calc(33.333333% - 25px);
  margin-right: 15px;
  clear: left;
}
.profile-tags {
  span {
    display: inline-block;
    background: $main-color-light;
    margin: 6px 2px 0 0;
    padding: 0 8px;
    color: #fff;
    cursor: default;
  }
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.profile-edit {
  .profile-header-info {
    width: auto;
    float: none;
    margin-left: 150px;
  }
}

.profile-sidebar {
  
  position: fixed;
}

.profile-nav {
  padding: 0;
  list-style: none;
}