{% extends 'layout/layout1.twig' %}

{% block content %}
<section class="main promo-page">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-offset-3">
				{% include 'application/index/forms/login' %}
			</div>
		</div>
	</div>
</section>

{% endblock content %}