{% extends 'layout/layout.twig' %}

{% block content %}

<div class="jumbotron">
  <h2>
    {{ translate('Confirmation successful! You have a new password. An email has been sent to <span class="zf-green">'~email~'</span> with your new password.') | raw}}
  </h2>
</div>

{% endblock content %}
