{% extends 'layout/layout1.twig' %}

{% block content %}

	<section class="main">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>{{ translate ('List of projects') }}</h2>
					<div class="list-group">
						{% for project in projects %}
							<a href="#" class="list-group-item">
								<h4 class="list-group-item-heading">{{project.title}}</h4>
								<p class="list-group-item-text">{{project.description}}</p>
							</a>
						{% endfor %}
						</div>
					</div>

				</div>
			</div>
		</section>

{% endblock content %}