{% extends 'layout/layout.twig' %}

{% block content %}
<div class="row">
    <div class="bc-main-content-section col-lg-8">
	<div class="row">
	    <div class="col-lg-12">
		<div class="list-group bl-green-list bl-well-semi-transparent">
		    <span class="list-group-item active">
			<h4>Тут некоторый список проектов  {{someVar}} !</h4>
		    </span>
		    <span class="list-group-item">Проект 1!</span>
		    <span class="list-group-item">Проект 2!</span>
		    <span class="list-group-item">Проект 3!</span>
		    <span class="list-group-item">Проект 4!</span>
		    <span class="list-group-item">Проект 5!</span>
		</div>
	    </div>
	    <div class=" col-lg-12">
		<div class="list-group bl-green-list bl-well-semi-transparent">
		    <span class="list-group-item active">
			<h4>Требуются волонтеры:</h4>
		    </span>
		    <span class="list-group-item">Дизайнер</span>
		    <span class="list-group-item">Менеджер проекта</span>
		    <span class="list-group-item">Контент менеджер</span>
		</div>
	    </div>

	</div>
    </div>
    <div class="bc-sidebar-section col-lg-4">
	<div class="row">
	    <div class="col-lg-12">
		{% include 'application/bits/last-review' %}
	    </div>
	</div>
	{#
	<div class="row">
	    <div class="col-lg-12">
		{% include 'application/adv/vacancy' %}
	    </div>
	</div>
#}
    </div>
    </div>

{% endblock content %}