{% extends 'layout/layout1.twig' %}

{% block content %}
<section class="main promo-page">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				{% include 'application/index/forms/login' %}
			</div>
			<div class="col-md-6">
				<h1 class= "headings-top-0">Що таке <br>біржа волонтерів</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo quis est et malesuada. Donec mauris orci, posuere ut posuere sed, laoreet feugiat magna. </p>
				<p>Quisque eros mi, lobortis ut massa nec, volutpat sollicitudin ante. Suspendisse vulputate rhoncus dui id dapibus. Vivamus cursus ornare ante. Donec dictum a urna id lobortis. Vivamus leo quam, convallis ac eros et, lacinia sollicitudin nulla. Nullam malesuada euismod molestie. Integer in mattis tellus. Vestibulum eget mi eget ante euismod dignissim.</p>
			</div>
		</div>
	</div>
</section>

{% endblock content %}